# Text Verification

We check that the specs verification works correctly

This is the reason we have a `<!-- no verify links -->` here

## Things we are checking

You MUST NOT have the word Cloud Event or the word Cloud Events

even if they are separated by newlines

Cloud

Event

or

CloudEvents

Also we check that the following words are capitalized correctly

MUST and not must

MUST NOT and not must NOT

even with newlines

MUST

NOT

and not

must

not

SHOULD and not sHoulD

SHOULD NOT and not should not

OPTIONAL but not optionaL

optionally is ok though

SHALL and not shall

SHALL NOT and not shall not

MARSHALL is ok though

REQUIRED and not required

"required" is ok though
